body {
  background-image: url(./img/bunny_background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0;
  padding: 0;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  font-family: 'Arial', sans-serif;
  color: #af0c48;
  -webkit-text-stroke: 0.5px black;;
}

.flashcard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.shuffle-button, .left-button, .right-button {
  color: white;
  border: 2px solid whitesmoke;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.textbox {
  color: black;
  background-color: whitesmoke;
  border: 2px solid black;
  font-size: 1.2rem;
  padding: 5px 10px;
  width: 335px;
}